/* Fonts */
body {
  font-size: 100%;
  font-family: Interstate;
  line-height: 1.6;
}
body h1 {
  font-size: 2em;
  /* Blueskonzert in Berl: */
  font-family: InterstateBoldCondensed;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 1.29px;
  margin-top: 2px;
  text-align: center;
  text-shadow: 0px 0px 6px black;
  text-transform: uppercase;
}
h1:hover {
  text-shadow: 0px 0px 12px black;
  color: #dedede;
}
h2 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.2em;
}
.naviHead li {
  /* Login FAQ Kontakt: */
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  display: inline-block;
  text-align: right;
  padding: 5px 5px;
  margin: 0 5px;
  text-shadow: 0px 0px 6px black;
}
.naviHead li:hover {
  color: #FF8300;
  border-bottom: 2px solid #FF8300;
}
.naviHead {
  float: right;
}
.headerTop {
  padding: 20px 0px;
}
.footerBot {
  /* Rectangle 12: */
  background: #000000;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.5);
  height: 85px;
}
body {
  /* Rectangle 10: */
  /*background-image: linear-gradient(-180deg, #4D4C4C 38%, #202020 100%);*/
  background: darkgrey;
  background-color: #2f2f2f!important;
  background-image: url('../Pictures/Timeline-New.png');
  background-size: auto 100%;
  background-position: top center;
  background-repeat: repeat-y;
}
html,
body {
  height: 100%;
}
.scrollThing {
  padding-top: 80px;
  padding-bottom: 120px;
  height: auto !important;
  /* real browsers */
  height: 100%;
  /* IE6: treaded as min-height*/
}
.Video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../Pictures/Video.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.scrollThing img,
.footerBot img,
.headerTop img {
  width: auto;
  margin: 0 auto;
  position: relative;
}
.grid-item {
  width: 500px;
  height: auto;
}
.left img.testPic {
  width: auto;
  float: right;
  margin-right: -110px;
}
.right img.testPic {
  width: auto;
  float: left;
  margin-left: -110px;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* Timeline */
.contentBox {
  color: #FFF;
  margin: 10px 0;
}
.contentBox .author {
  font-family: Interstate-Light;
  font-size: 14px;
  width: 80%;
  float: left;
  line-height: 20px;
}
.contentBox .author span {
  font-family: Interstate-Bold;
}
.contentBox .medium {
  width: 20%;
  text-align: right;
  font-family: Interstate-Light;
  font-size: 10px;
  float: left;
  line-height: 20px;
}
.contentBox .medium span {
  font-family: Interstate-Bold;
}
/* Timestamp Mitte */
.timestamp {
  font-family: InterstateRegularCondensed;
  font-size: 19px;
  color: #FFFFFF;
  text-align: center;
  background-color: #FF8300;
  padding: 5px 10px;
  width: 90px;
  position: absolute;
}
.timestamp.fb {
  background: #3B5998;
}
.timestamp.chat {
  background: #60C300;
}
.timestamp.tweet {
  background: #4099FF;
}
.timestamp.tick {
  background: #FF8300;
}
.rightScroll .timestamp {
  left: -45px;
  top: 0px;
}
.contentTitle {
  border-radius: 3px 3px 0 0;
  float: left;
  width: 100%;
  padding: 5px 10px;
}
.contentTitle.fb {
  background: #3B5998;
}
.contentTitle.chat {
  background: #60C300;
}
.contentTitle.tweet {
  background: #4099FF;
}
.contentTitle.tick {
  background: #FF8300;
}
.contentBody {
  float: left;
  width: 100%;
  padding: 5px 10px;
  background-image: linear-gradient(-180deg, rgba(117, 117, 117, 0.85) 0%, rgba(78, 78, 78, 0.85) 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 0 3px 3px;
}
.contentBody p {
  font-family: Interstate-Light;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
}
/* PlayBox */
.PlayBox div {
  color: #FFf;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.87);
  float: left;
}
.PlayBox {
  margin-top: -58px;
}
.PlayBox h2 {
  /* Live Blueskonzert: */
  font-family: Interstate-Bold;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.87);
}
.PlayBox .moreInfo {
  /* LIVE ON AIR with rad: */
  font-family: InterstateBoldCondensed;
  font-size: 18px;
  color: #FFFFFF;
  display: block;
  width: 100%;
}
div.moreInfoWrapper {
  padding: 0px;
}
.audioLine {
  padding: 0px;
  width: 100%;
  display: block;
}
.PlayBox span {
  text-transform: uppercase;
}
div.liveInfo {
  padding-left: 50px;
}
.PlayBox button {
  /* Oval 2: */
  background: #60C300;
  border-radius: 50%;
  border: 0;
  width: 116px;
  height: 116px;
  margin-right: 25px;
  padding-left: 25px;
  transition: all 300ms ease;
}
.PlayBox button:hover {
  background-color: #3f8001;
}
/* Switcher */
.switcher {
  width: 150px;
  margin: 0 auto;
}
.switcher button {
  background-color: transparent;
  position: absolute;
  bottom: 86px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: Interstate;
  transition: all 300ms ease;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.87);
  width: 150px;
}
.switcher button span {
  font-size: 22px;
  text-transform: none;
}
.switcher button:hover {
  background-color: #FF8300;
  border: 1px solid #FF8300;
  bottom: 90px;
}
/* Kommentarfunktion */
.PlayBox div.commentBox {
  float: right;
  position: absolute;
  right: 0px;
  top: -60px;
}
.PlayBox div.commentBox .nav-pills > li + li {
  margin-left: 0px;
}
.PlayBox div.commentBox .nav-pills {
  margin: 0px;
}
.PlayBox div.commentBox .nav-pills li {
  width: 33.3333333%;
}
.PlayBox div.commentBox .nav-pills li a {
  font-family: Interstate-Bold;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: none;
  transition: all 300ms ease;
}
.PlayBox div.commentBox .nav-pills > li.twitter a {
  border-radius: 0px 0px 0px 0px;
  background-color: #4099FF;
}
.PlayBox div.commentBox .nav-pills > li.twitter a:hover {
  background-color: #3479c8;
}
.PlayBox div.commentBox .nav-pills > li.facebook a {
  border-radius: 0px 3px 0px 0px;
  background-color: #3B5998;
}
.PlayBox div.commentBox .nav-pills > li.facebook a:hover {
  background-color: #2e477a;
}
.PlayBox div.commentBox .nav-pills > li.liveChat a {
  border-radius: 3px 0px 0px 0px;
  background-color: #FF8300;
}
.PlayBox div.commentBox .nav-pills > li.liveChat a:hover {
  background-color: #d57107;
}
.PlayBox div.commentBox .tab-content,
.PlayBox div.commentBox .tab-pane {
  width: 100%;
}
.PlayBox div.commentBox #Livechat {
  background-color: #FF8300;
}
.PlayBox div.commentBox #Facebook {
  background-color: #3B5998;
}
.PlayBox div.commentBox #Twitter {
  background-color: #4099FF;
}
.PlayBox div.commentBox .commentForm > div {
  width: 100%;
  padding: 10px;
}
.PlayBox div.commentBox .commentForm textarea {
  width: 100%;
  font-family: Interstate-Light;
  font-size: 14px;
  color: #B6B3B1;
  line-height: 19px;
  border-radius: 3px;
  border: 0px;
  padding: 10px;
}
.PlayBox div.commentBox .commentForm textarea:focus {
  box-shadow: none;
  outline: none;
}
.PlayBox div.commentBox input.send {
  background: #60C300;
  border-radius: 0 0 3px 3px;
  font-family: Interstate-Bold;
  font-size: 21px;
  color: #FFFFFF;
  display: block;
  border: 0px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */